body{
    background-color: #ebebe0;
    font-family: roboto;
    color:#00153e;
}

/*Here starts header styles*/
header{
    background: #00153e;
    color:#fff;
    margin-top: 0px;
    height: 75px;
    font-family: roboto;
    border-radius: 12px;
}
.header-logo{
    margin-top: 10px;
    margin-left: 20px;
}
.header-title{
    margin-left: 130px;
    margin-top: -48px;
    font-size: 32px;
}
.logoff-button{
    width: 30px;
    height: 30px;
    margin-left: 1280px;
    margin-top: -60px;
    margin-bottom: 40px;
    align-content: right;
}
.logoff-button:hover{
    color:gray;
}
/*Here ends HEADER styles*/

.register-lead-div{
    background-color: #fff;
    margin-top: auto;
    border-radius: 12px;
    height:150px;
    margin-top: -15px;
}
.register-lead-title{
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 10px;
    padding-left: 0px;
}
input::placeholder{
    padding-left: 8px;
}


input{
    width:300px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 9px;

}
input[type='submit']{
    width: 150px;
    height:35px;
    background-color: #00153e;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type='submit']:hover{
    filter: brightness(90%);
}

.select-lead-div{
    background-color: #fff;
    margin-top: auto;
    border-radius: 12px;
    height: 600px;
    margin-top: 5px;
}

.select-lead-title{
    padding-top: 10px;
    padding-left: 20px;
}

table {
    font-family: roboto;
    border-collapse: collapse;
    width: 100%;
}
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  tr:nth-child(even) {
    background-color: #ebebe0;
  }